{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}

{%- block beforeContent -%}
{{ super() }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">User</h1>
    {% set rows = [] %}
    {% for key, value in userinfo.items() %}
        {% set rows = rows.append(
            {
                'key': {
                    'text': key
                },
                'value': {
                    'text': value
                }
            },
        ) %}
            
    {% endfor %}

    {{ govukSummaryList({
        'card': {
            'title': {
                'text': "Scopes"
            }
        },
        'rows': rows
    }) }}
  </div>
</div>
{%- endblock -%}