.coverage
.github
.gitignore
.mypy_cache
.nvmrc
.python-version
**/.aws
**/.DS_Store
**/.env
**/.git
**/.gitignore
**/.ssh
**/.vscode
**/env
**/tests
**/venv
**/web
app.json
CHANGELOG.md
CODE_OF_CONDUCT.md
compose.yml
CONTRIBUTING.md
Dockerfile
LICENSE
Procfile
README.md
requirements_dev.in
requirements_dev.txt
requirements.in
setup.cfg