.coverage
.git
.github
.mypy_cache
.nvmrc
.python-version
.vscode
**/__pycache__
**/.gitignore
**/dist
CHANGELOG.md
CODE_OF_CONDUCT.md
compose.yml
CONTRIBUTING.md
env
LICENSE
README.md
requirements_dev.in
requirements_dev.txt
requirements.in
setup.cfg
tests
venv