{%- extends "base.html" -%}

{%- block pageTitle -%}Access denied – {{config['SERVICE_NAME']}} – GOV.UK{%- endblock -%}

{%- set mainClasses = "govuk-main-wrapper--l" -%}

{%- block content -%}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Access denied</h1>
        <p class="govuk-body">You must be logged in to view this page.</p>
        <p class="govuk-body"><a href="{{ url_for('auth.login') }}" class="govuk-link">Sign in with GOV.UK One Login</a> if you already have one.</p>
    </div>
</div>
{%- endblock -%}