{% extends "base.html" %}

{% block beforeContent %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Hello, World!</h1>
    <p class="govuk-body-l">This is a template <a href="https://flask.palletsprojects.com" class="govuk-link">Flask</a>
      app using the <a href="https://frontend.design-system.service.gov.uk/" class="govuk-link">GOV.UK Frontend</a> and
      <a href="https://design-system.service.gov.uk/" class="govuk-link">GOV.UK Design System</a>. You can <a
        href="https://github.com/LandRegistry/govuk-frontend-flask/generate" class="govuk-link">generate a new repository</a>
      using this template to get a new project started quicker.
    </p>
  </div>
</div>
{% endblock %}