{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/accordion/macro.html' import govukAccordion -%}
{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/breadcrumbs/macro.html' import govukBreadcrumbs -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{%- from 'govuk_frontend_jinja/components/character-count/macro.html' import govukCharacterCount -%}
{%- from 'govuk_frontend_jinja/components/checkboxes/macro.html' import govukCheckboxes -%}
{%- from 'govuk_frontend_jinja/components/cookie-banner/macro.html' import govukCookieBanner -%}
{%- from 'govuk_frontend_jinja/components/date-input/macro.html' import govukDateInput -%}
{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}
{%- from 'govuk_frontend_jinja/components/error-message/macro.html' import govukErrorMessage -%}
{%- from 'govuk_frontend_jinja/components/error-summary/macro.html' import govukErrorSummary -%}
{%- from 'govuk_frontend_jinja/components/exit-this-page/macro.html' import govukExitThisPage -%}
{%- from 'govuk_frontend_jinja/components/fieldset/macro.html' import govukFieldset -%}
{%- from 'govuk_frontend_jinja/components/file-upload/macro.html' import govukFileUpload -%}
{%- from 'govuk_frontend_jinja/components/footer/macro.html' import govukFooter -%}
{%- from 'govuk_frontend_jinja/components/header/macro.html' import govukHeader -%}
{%- from 'govuk_frontend_jinja/components/hint/macro.html' import govukHint -%}
{%- from 'govuk_frontend_jinja/components/input/macro.html' import govukInput -%}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from 'govuk_frontend_jinja/components/label/macro.html' import govukLabel -%}
{%- from 'govuk_frontend_jinja/components/notification-banner/macro.html' import govukNotificationBanner -%}
{%- from 'govuk_frontend_jinja/components/pagination/macro.html' import govukPagination -%}
{%- from 'govuk_frontend_jinja/components/panel/macro.html' import govukPanel -%}
{%- from 'govuk_frontend_jinja/components/phase-banner/macro.html' import govukPhaseBanner -%}
{%- from 'govuk_frontend_jinja/components/radios/macro.html' import govukRadios -%}
{%- from 'govuk_frontend_jinja/components/select/macro.html' import govukSelect -%}
{%- from 'govuk_frontend_jinja/components/skip-link/macro.html' import govukSkipLink -%}
{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}
{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from 'govuk_frontend_jinja/components/tabs/macro.html' import govukTabs -%}
{%- from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag -%}
{%- from 'govuk_frontend_jinja/components/textarea/macro.html' import govukTextarea -%}
{%- from 'govuk_frontend_jinja/components/warning-text/macro.html' import govukWarningText -%}

{% block pageTitle %}{{fixtures.component | replace("-", " ") | capitalize}} – GOV.UK{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBreadcrumbs({
    'collapseOnMobile': True,
    'items': [
        {
            'text': "Home",
            'href': url_for('main.index')
        },
        {
            'text': "Components",
            'href': url_for('demos.components')
        },
        {
            'text': fixtures.component | replace("-", " ") | capitalize
        }
    ]
  }) }}
{% endblock %}

{% block content %}
  <span class="govuk-caption-xl">Components</span>
  <h1 class="govuk-heading-xl">{{fixtures.component | replace("-", " ") | capitalize}}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Examples:</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for fixture in fixtures.fixtures if fixture.hidden == False %}
          <li>
            <a class="govuk-link" href="#{{fixture.name | replace(' ', '-')}}">{{fixture.name | capitalize}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  {% for fixture in fixtures.fixtures if fixture.hidden == False %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 id="{{fixture.name | replace(' ', '-')}}" class="govuk-heading-l">{{fixture.name | capitalize}}</h2>
            {% if fixtures.component == 'accordion' %}
              {{ govukAccordion(fixture.options) }}
            {% elif fixtures.component == 'back-link' %}
              {{ govukBackLink(fixture.options)}}
            {% elif fixtures.component == 'breadcrumbs' %}
              {{ govukBreadcrumbs(fixture.options)}}
            {% elif fixtures.component == 'button' %}
              {{ govukButton(fixture.options)}}
            {% elif fixtures.component == 'character-count' %}
              {{ govukCharacterCount(fixture.options)}}
            {% elif fixtures.component == 'checkboxes' %}
              {{ govukCheckboxes(fixture.options)}}
            {% elif fixtures.component == 'cookie-banner' %}
              {{ govukCookieBanner(fixture.options)}}
            {% elif fixtures.component == 'date-input' %}
              {{ govukDateInput(fixture.options)}}
            {% elif fixtures.component == 'details' %}
              {{ govukDetails(fixture.options)}}
            {% elif fixtures.component == 'error-message' %}
              {{ govukErrorMessage(fixture.options)}}
            {% elif fixtures.component == 'error-summary' %}
              {{ govukErrorSummary(fixture.options)}}
            {% elif fixtures.component == 'exit-this-page' %}
              {{ govukExitThisPage(fixture.options)}}
            {% elif fixtures.component == 'fieldset' %}
              {{ govukFieldset(fixture.options)}}
            {% elif fixtures.component == 'file-upload' %}
              {{ govukFileUpload(fixture.options)}}
            {% elif fixtures.component == 'footer' %}
              {{ govukFooter(fixture.options)}}
            {% elif fixtures.component == 'header' %}
              {{ govukHeader(fixture.options)}}
            {% elif fixtures.component == 'hint' %}
              {{ govukHint(fixture.options)}}
            {% elif fixtures.component == 'input' %}
              {{ govukInput(fixture.options)}}
            {% elif fixtures.component == 'inset-text' %}
              {{ govukInsetText(fixture.options)}}
            {% elif fixtures.component == 'label' %}
              {{ govukLabel(fixture.options)}}
            {% elif fixtures.component == 'notification-banner' %}
              {{ govukNotificationBanner(fixture.options)}}
            {% elif fixtures.component == 'pagination' %}
              {{ govukPagination(fixture.options)}}
            {% elif fixtures.component == 'panel' %}
              {{ govukPanel(fixture.options)}}
            {% elif fixtures.component == 'phase-banner' %}
              {{ govukPhaseBanner(fixture.options)}}
            {% elif fixtures.component == 'radios' %}
              {{ govukRadios(fixture.options)}}
            {% elif fixtures.component == 'select' %}
              {{ govukSelect(fixture.options)}}
            {% elif fixtures.component == 'skip-link' %}
              {{ govukSkipLink(fixture.options)}}
            {% elif fixtures.component == 'summary-list' %}
              {{ govukSummaryList(fixture.options)}}
            {% elif fixtures.component == 'table' %}
              {{ govukTable(fixture.options)}}
            {% elif fixtures.component == 'tabs' %}
              {{ govukTabs(fixture.options)}}
            {% elif fixtures.component == 'tag' %}
              {{ govukTag(fixture.options)}}
            {% elif fixtures.component == 'textarea' %}
              {{ govukTextarea(fixture.options)}}
            {% elif fixtures.component == 'warning-text' %}
              {{ govukWarningText(fixture.options)}}
            {% endif %}

            {{ govukDetails({
              'summaryText': "Jinja macro options",
              'text': fixture.options
            })}}

            {{ govukDetails({
              'summaryText': "HTML",
              'text': fixture.html
            })}}
        </div>
    </div>
  {% endfor %}
{% endblock %}